name: Build Standalone Windows
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Original Dependencies
        run: npm install

      - name: Inject Obfuscator
        # This installs the tool ONLY on the GitHub runner, not your local project
        run: npm install javascript-obfuscator -g

      - name: Scramble main.js
        # We run the global tool to overwrite main.js with an unreadable version
        run: |
          javascript-obfuscator main.js --output main.js --compact true --control-flow-flattening true --control-flow-flattening-threshold 0.75 --numbers-to-expressions true --simplify true --string-array true --string-array-threshold 0.75 --split-strings true --unicode-escape-sequence false

      - name: Build Standalone EXE
        run: npm run build
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Windows-Executable
          path: dist/*.exe
